@model SixB.Hyb.ValetTest.Core.Models.ViewModels.BookingIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.First().ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.First().EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.First().BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.First().FlexibilityDayId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.First().VehicleSizeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.First().IsApproved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlexibilityDayDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleSizeDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>
                <td>
                    @if (!item.IsApproved)
                    {
                        @Html.ActionLink("Approve", "Approve", new { id = item.Id })
                    }

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
